<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free MVC.NET Template by devdap" />
    <meta name="keywords" content="free MVC.NET, free template, free MVC.NET,Bootstrap, css3, responsive" />
    <meta name="author" content="devdap.com" />
    <link rel="icon" href="~/images/fav.ico">
    <title>@ViewBag.Title</title>

    <!-- Style -->
    <link rel="stylesheet" href="~/Content/style.css">

    <!-- Modernizr JS -->
    <script src="~/Scripts/modernizr-2.6.2.min.js"></script>



</head>
<body id="top">
    <header role="banner" id="devdap-header">
        <div class="fluid-container">
            <nav class="navbar navbar-default navbar-fixed-top js-fullheight">
                <div id="navbar" class="navbar-collapse js-fullheight">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
                        <li><a href="#" data-nav-section="services"><span>Services</span></a></li>
                        <li><a href="#" data-nav-section="explore"><span>Project</span></a></li>
                        <li><a href="#" data-nav-section="gallery"><span>Gallery</span></a></li>
                        <li><a href="#" data-nav-section="pricing"><span>Pricing</span></a></li>
                        <li><a href="#" data-nav-section="team"><span>Team</span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    @RenderBody()
    <div id="devdap-footer" role="contentinfo">
        <div class="container">
            <div class="row">
                <div class="col-md-4 to-animate">
                    <h3 class="section-title">About Us</h3>
                    <p>Community of the creative people, That CONNECTING THE CREATIVITY with the power of Ds - Drone. </p>
                    <p class="copy-right">
                        &copy; 2018 devdap Free MVC.NET Template. <br>All Rights Reserved. <br>
                        Designed by <a href="http://devdap.com/" target="_blank">devdap.com</a>

                    </p>
                </div>
                <div class="col-md-4 to-animate">
                    <h3 class="section-title">Our Address</h3>
                    <ul class="contact-info">
                        <li><i class="icon-map-marker"></i>18 South 25th Street, 789 New York</li>
                        <li><i class="icon-phone"></i>+ 1235 4567 98</li>
                        <li><i class="icon-envelope"></i><a href="#">info@dsdrone.com</a></li>
                        <li><i class="icon-globe2"></i><a href="#">www.dsdrone.com</a></li>
                    </ul>
                    <h3 class="section-title">Connect with Us</h3>
                    <ul class="social-media">
                        <li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
                        <li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4 to-animate">
                    <h3 class="section-title">Drop us a line</h3>
                    <form class="contact-form">
                        <div class="form-group">
                            <label for="name" class="sr-only">Name</label>
                            <input type="name" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="message" class="sr-only">Message</label>
                            <textarea class="form-control" id="message" rows="7" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Send Message">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <!-- Counters -->
    <script src="~/Scripts/jquery.countTo.js"></script>
    <!-- Main JS (Do not remove) -->
    <script src="~/Scripts/main.js"></script>
</body>
</html>